li,ul,a {
 text-decoration: none;
 list-style: none;
 margin: 0;
 padding: 0;
}

// Класс для скрытия кнопок/инпута 🔫
.not-displayed{
 display: none;
}


.container{
 padding-left: 22px;
 padding-right: 22px;
 background-color: black;
 background-image: url('../images/header/header-mobile-bcg.jpg');
background-repeat: no-repeat;
background-size: contain;
}

.nav{
 padding-top: 42px;
 display:flex;
}

.nav__list{
 display: flex;
 margin-left: auto;
 align-items: center;
 
}

.nav__list-item:not(:last-child){
 margin-right:40px
}

.nav__list-link{
    color:#FFFFFF;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}


.nav__logo{
 display: none;
}

.img__logo{
 height: 24px;
 width: 24px;
}

.search-form{
 margin-top: 56px;
 padding-bottom: 88px;
}

.wrap{
    position: relative;
}

.input{
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
 width: 100%;
 outline: none;
 border: none;
 background-color: transparent;
 border-bottom: 0.5px solid #FFFFFF;
}

.input::placeholder{
    color:#FFFFFF;
}

.search-btn{
 background-color: transparent;
 border: none;
 width: 14px;
 height: 14px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 0;
 right: 0;
}

.search-svg{
position: absolute;
}

.span{
 width: 100%;
 height: 3px;
 background-color:#FF6B08;
}


