li,ul,a {
 text-decoration: none;
 list-style: none;
 margin: 0;
 padding: 0;
}


.container{
   
    padding-left: 22px;
    padding-right: 22px;
}

.nav{
 margin-top: 42px;
 display:flex;
}

.nav__list{
 display: flex;
 margin-left: auto;
 
}

.nav__list-item:not(:last-child){
 margin-right:40px
}


.nav__logo{
 display: none;
}

.img__logo{
    height: 24px;
    width: 24px;
}