.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;

    transition: opacity 250ms ease-in-out,
        visibility 250ms ease-in-out;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    overflow-y: auto;
    width: 280px;
    height: 100vh;
    padding: 48px 20px 40px 20px;
    background-color: #ffffff;

    transition: transform 250ms ease-in-out;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5);
    }

    @media screen and (min-width: 768px) {
        top: 50%;
        display: flex;
        min-width: 704px;
        height: 552px;
        padding: 40px 72px 40px 36px;
    }

    @media screen and (min-width: 1024px) {
        top: 50%;
        min-width: 814px;
        height: 558px;
        padding: 40px 16px;
    }
}

.modal__close-btn {
    position: absolute;
    border-radius: 5px;
    top: 8px;
    right: 8px;
    border: none;
    padding: 0;
    background-color: #fff;
    transition: background-color 250ms ease-in-out, border-radius 250ms ease-in-out, box-shadow 250ms ease-in-out;
    cursor: pointer;


    &:hover,
    &:focus {
        background-color: #FF6B08;
        border-radius: 5px;
        box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.12),
            0px 1px 1px 2px rgba(0, 0, 0, 0.14),
            0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    & .modal__close-icon {
        display: block;
    }
}

.modal_info {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.modal_pic-block {
    @media screen and (min-width: 768px) {
        margin-right: 68px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 16px;
    }

}

.modal_pic {
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 264px;
        height: 373.55px;
    }

    @media screen and (min-width: 1024px) {
        width: 375px;
        height: 478px;
    }
}

.modal_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
    text-transform: uppercase;

    margin: 0 0 20px 0;
}

.modal_info-list {
    margin-bottom: 20px;
}

.modal_info-item {
    display: flex;
    width: 240px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.modal_info-category {
    width: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8C8C8C;

    @media screen and (min-width: 1024px) {
        min-width: 152px;
    }
}

.modal_info-value {
    max-width: 132px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;

    @media screen and (min-width: 1024px) {
        min-width: 239px;
    }
}

.vote-value {
    display: flex;
}

.orig_title {
    text-transform: uppercase;
}

.rating-cell {
    display: flex;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
}

.modal_info-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 16px;
    background-color: #FF6B01;
    border-radius: 5px;
    margin-right: 3px;

    color: #ffffff;
}

.modal_info-votes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 16px;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-left: 3px;
}

.modal_info-line {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8C8C8C;
}

.modal_title-disc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: #000000;
    text-transform: uppercase;

    margin-bottom: 8px;
}

.modal_disc {
    overflow-y: auto;
    max-height: 260px;
    margin: 0 0 20px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    color: #000000;

    @media screen and (min-width: 768px) {
        height: 200px;
    }

    @media screen and (min-width: 1024px) {
        height: 184px;
    }
}

.modal_buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
        justify-content: start;
    }
}

.modal_button {
    width: 110px;
    height: 44px;
    border-radius: 5px;
    border: none;
    padding: 0 13px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    transition: box-shadow 250ms ease-in-out;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 125px;
    }

    @media screen and (min-width: 1024px) {
        width: 136px;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.12),
            0px 1px 1px 2px rgba(0, 0, 0, 0.14),
            0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

.modal_button-watch {
    color: #ffffff;
    background-color: #FF6B01;

    @media screen and (min-width: 1024px) {
        margin-right: 15px;
    }
}

.modal_button-queue {
    background-color: #fff;
    border: 1px solid #000000;
}

.modal-img__error {
    margin: 30px 0;
    width: 240px;

    @media screen and (min-width: 768px) {
        width: 320px;
    }

    @media screen and (min-width: 1024px) {
        width: 360px;
    }
}

.modal-text__error {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FF6B01;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1024px) {
        wfont-size: 30px;
    }
}

.dark {
    background-color: #121212;
}

.dark h2 {
    color: #ffffff;
}

.dark h3 {
    color: #ffffff;
}

.dark p {
    color: #ffffff;
}

.dark .modal_info-value {
    color: #ffffff;
}

.dark .modal_info-votes {
    background-color: #121212;
    color: #ffffff;
}

.dark .modal__close-btn {
    background-color: #FF6B01;
    transition: background-color 250ms ease-in-out;


    &:hover,
    &:focus {
        background-color: #fff;

    }
}

.dark .modal_button-watch {
    background-color: #FF6B01;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;


    &:hover,
    &:focus {
        color: #121212;
        background-color: #ffffff;
    }
}

.dark .modal_button-queue {
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    &:hover,
    &:focus {
        background-color: #FF6B01;
        color: #ffffff;
    }
}