.thumb{
width: 1024px;
display: flex;
flex-wrap: wrap;
justify-content: left;
margin: 0 auto 0;
}

.gallery-list__item {
    margin: 0;
    margin-bottom: 20px;
    cursor: pointer;
    width: 274px;
    padding-bottom: 7px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .gallery-list__item {
        margin-bottom: 30px;
    }
}

.gallery-list__item:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .gallery-list__item:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width:1024px) {
    .gallery-list__item:nth-last-child(-n + 4) {
        margin-bottom: 0px;
    }
}

.image {
    border-radius: 5px;
}

.gallery-list__item-title {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out 0s;
}

.film-info {
    display: inline;
}

.film-info__year{
    display: inline;
}

.film-info-cont {
    margin-top: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #ff6b08;
}

.film-info__rate {
    color: #ffffff;
    background-color: #ff6b01;
    padding: 1px 6px;
    border-radius: 5px;
}


