.pagination {
    margin: 0;
    padding: 40px 20px;
    box-sizing: border-box;
    font-family: 'Roboto';
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

.tui-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tui-page-btn {
    margin: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.tui-is-selected{
    background: #ff6b08;
    color: #ffffff;
    fill: #ffffff;
}

a {
    flex-basis: auto;
}

.tui-prev-is-ellip, .tui-next-is-ellip {
    padding-bottom: 7px;
}

.tui-first, .tui-prev-is-ellip, .tui-last, .tui-next-is-ellip {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}