.pagination {
  margin: 0;
  padding: 40px 20px;
  box-sizing: border-box;
  font-family: 'Roboto';
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.pagination__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__arrow {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.pagination__arrow-svg {
  fill: #000000;
}

.pagination__page {

  color: #000000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
}

.current-page,
.number:hover,
.pagination__arrow:hover {
  background: #ff6b08;
  color: #ffffff;
  fill: #ffffff;
}

.dots-prev,
.dots-last {
    align-items: center;
    justify-content: center;
}

.pagination__arrow:hover>.pagination__arrow-svg {
  fill: #ffffff;
}
.hidden {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
