
.spiner-path{
    position: relative;
}
.foo{
    display:block;
    position: absolute;
    left: calc(50% - 85px);
}
.container-spiner {
    width:170px;
    height: 170px;
}

.block {
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 0 30px 30px 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #fe3902;
}

.block:nth-child(4n+1) {
    animation: wave 2s ease .0s infinite;
}

.block:nth-child(4n+2) {
    animation: wave 2s ease .2s infinite;
}

.block:nth-child(4n+3) {
    animation: wave 2s ease .4s infinite;
}

.block:nth-child(4n+4) {
    animation: wave 2s ease .6s infinite;
    margin-right: 0;
}

@keyframes wave {
    0% {
        top: 0;
        opacity: 1;
    }

    50% {
        top: 20px;
        opacity: .2;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}