.gallery-list__item {
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    width: 274px;
    padding-bottom: 7px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .gallery-list__item {
        margin-bottom: 30px;
    }
}

.gallery-list__item:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .gallery-list__item:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width:1024px) {
    .gallery-list__item:nth-last-child(-n + 4) {
        margin-bottom: 0px;
    }
}

.gallery-list__img {
    border-radius: 5px;
}

.gallery-list__item-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.film-info-cont {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ff6b08;
}

.film-info__rate {
    color: #ffffff;
    background-color: #ff6b01;
    padding: 1px 6px;
    border-radius: 5px;
}

.box-shadow {
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transform: scale(1.05);
    transition-duration: 500ms;
}