<!-- <div class="backdrop">
  <div class="modal">
    <button type="button" class="modal__close-btn">
      <img
        class="modal__close-icon"
        src="images/icons/close.svg"
        width="30px"
        height="30px"
        alt="#"
      />
    </button>

    <div class="modal_info-total">
      <div class="modal_info-error">
        <img class="modal-img__error" src="./js/images/error-film.png" />
        <span class="modal-text__error">Ой-ой, что-то пошло не так,попробуйте позже...</span>
      </div>
    </div>
  </div>
</div> -->
