<div class="backdrop is-hidden" data-action="deleted-class">
  <div class="footer-modal">
    <button type="button" class="footer-modal__close-btn">
      <img
        class="footer-modal__close-icon"
        src="images/icons/close.svg"
        width="30px"
        height="30px"
        alt="#"
      />
    </button>
    <div class="footer-modal__container">
      <div class="box">
        <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Front end Developer</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Scram master</p>
          <a href="#">Read More</a>
        </div>
        </div>
        <div class="box">
          <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <span></span>
        <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Team lead</p>
          <a href="#">Read More</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
