<div class="backdrop is-hidden" data-action="deleted-class">
  <div class="footer-modal">
    <button type="button" class="footer-modal__close-btn">
      <img
        class="footer-modal__close-icon"
        src="images/icons/close.svg"
        width="30px"
        height="30px"
        alt="#"
      />
    </button>
    <div class="footer-modal__container">
      
      <div class="footer-modal__box">  
        <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Temmate One</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Arthur Habrielyan</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Natalia Chapai</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Vita Kostiuk</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Dima Dovgan</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Ivan Darmovis</h2>
          <p>Frontend Developer</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Anna Kysilchuk</h2>
          <p>Scrum Master</p>
          </div>
        </div>
        </div>
        <div class="footer-modal__box">
          <img loading="lazy" class="footer-modal__pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
          <h2>Stas Sytnykov</h2>
          <p>Team lead</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
