<div class="backdrop is-hidden" data-action="deleted-class">
  <div class="footer-modal" data-action="check-theme">
    <button type="button" class="footer-modal__close-btn">
      <img
        class="footer-modal__close-icon"
        src="images/icons/close.svg"
        width="30px"
        height="30px"
        alt="#"
      />
    </button>
    <h2 class="footer-modal__title">Our Team</h2>
    <ul class="footer-modal__container">
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-one.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Oleh Fedorov</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-six.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Yuriy Kharitonchuk</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-four.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Arkadiy Yurchenko</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-ten.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Anna Kysilchuk</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-eight.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Natalia Chapai</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-five.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vita Kostiuk</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-nine.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Dima Dovgan</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-three.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ivan Darmovis</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-seven.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Arthur Habrielyan</h3>
            <p class="footer-modal__role">Scrum Master</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/teammate-photo/teammate-two.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Stas Sytnykov</h3>
            <p class="footer-modal__role">Team lead</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
