<header>
  <div class="content">
    <div class="container">
      <nav class="nav">
        <a class="nav__logo logo" href=""
          ><img class="img__logo logo" src="images/header/film.png" alt="" />
          Filmoteka
        </a>
        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__list-link home" href="">Home</a><span class="span span-home"></span>
          </li>
          <li class="nav__list-item library">
            <a class="nav__list-link" href="" name="library">My Library</a
            ><span class="span span-library"></span>
          </li>
        </ul>
      </nav>
      <form class="search-form not-displayed" id="search-form">
        <div class="wrap">
          <input
            class="input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Поиск фильмов"
          />
          <button class="search-btn" type="submit">
            <svg
              class="search-svg"
              width="13"
              height="13"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.5 10.5002L8.32495 8.3252"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <p class="empty-result"></p>
        </div>
      </form>

      <!-- class для скрытия списка кнопок (not-displayed)  -->
      <ul class="button__list__library">
        <li class="button-list__item">
          <button class="library-button button-watched" type="button" name="watched">
            Watched
          </button>
        </li>
        <li class="button-list__item">
          <button class="library-button button-queue" type="button" name="queue">queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
<script src="/js/header.js"></script>
