<header>
  <container
    ><nav class="nav">
      <a class="nav__logo" href=""><img src="" alt="" />Filmoteka</a>
      <ul class="nav__list">
        <li class="nav__list-item home"><a href="">Home</a></li>
        <li class="nav__list-item library"><a href="">My Library</a></li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <div class="wrap">
        <input
          class="input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Искать фильмы..."
        />
        <button class="search-btn" type="submit">
          Search
          <!--<svg></svg> -->
        </button>
      </div>
    </form>
    <ul>
<li><button type="button">Watched</button>
</li>
<li><button type="button">queue</button></li>

    </ul>
  </container>
</header>
