<header>
  <div class="container">
    <nav class="nav">
      <img class="img__logo" src="images/header/film.png" alt="" />
      <a class="nav__logo">Filmoteka</a>
      <ul class="nav__list">
        <li class="nav__list-item home"><a class="nav__list-link" href="">Home</a></li>
        <li class="nav__list-item library"><a class="nav__list-link" href="">My Library</a></li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <div class="wrap">
        <input
          class="input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Искать фильмы..."
        />
        <button class="search-btn" type="submit">
          Search
          <!--<svg></svg> -->
        </button>
      </div>
    </form>
    <ul class="button-list">
      <li class="button-list__item">
        <button class="button-watched" type="button" name="watched">Watched</button>
      </li>
      <li class="button-list__item">
        <button class="button-queue" type="button" name="queue">queue</button>
      </li>
    </ul>
  </div>
</header>
