<div class="backdrop">
    <div class="modal">

        <button type="button" class="modal__close-btn">
            <img class="modal__close-icon" src="images/icons/close.svg" width="30px" height="30px" alt="#" />
        </button>

        <div class="modal_info-total">
            <div class="modal_pic-block">
                <img class="modal_pic" src="images/pic_example.jpg" width="240px" height="357px" alt="#">
            </div>
            
            <div class="modal_info-block">
                <h2 class="modal_title">Lorem ipsum dolor</h2>
            
                <table class="modal_info">
                    <tr>
                        <td class="modal_info-colonm1">Vote / Votes</td>
                        <td class="modal_info-colonm2 rating-cell">
                            <div class="modal_info-rating">
                                <span>7.3</span>
                            </div>
                            <span class="modal_info-line">/</span>
                            <div class="modal_info-votes">
                                <span>1260</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="modal_info-colonm1">Popularity</td>
                        <td class="modal_info-colonm2">100.2</td>
                    </tr>
                    <tr>
                        <td class="modal_info-colonm1">Original Title</td>
                        <td class="modal_info-colonm2">A FISTFUL OF LEAD</td>
                    </tr>
                    <tr>
                        <td class="modal_info-colonm1">Genre</td>
                        <td class="modal_info-colonm2">Western</td>
                    </tr>
                </table>
            
                <h3 class="modal_title-disc">About</h3>
                <p class="modal_disc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum est quia? Quod
                    iusto, facilis
                    ea quidem blanditiis harum iste saepe nobis ducimus modi nulla suscipit commodi aliquid, amet
                    perspiciatis?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ex, totam odit rem a voluptatibus
                    ullam id
                    illum voluptas perferendis voluptatem, dignissimos expedita animi, molestias odio fuga ipsa veritatis
                    nemo.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Voluptatem dolor officia ea eius. Odio, earum libero quibusdam quis id totam facere, laudantium labore ex
                    quidem, quam doloribus nobis tenetur nulla.
                </p>

                <div class="modal_buttons">
                    <button type="button" class="modal_button modal_button-watch">
                        add to Watched
                    </button>
                    <button type="button" class="modal_button modal_button-queue">
                        add to queue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>